:root {
  --hero-footer-background-color: #2f303a;
  --logo-link-web-color: #2196f3;
  --logo-link-studio-color: #000000;
  --logo-link-telephone-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flow-root;
}

/* ВЕРХНЯЯ ЛИНИЯ */

.div-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.div-list a:hover,
.div-list a:active {
  color: var(--logo-link-web-color);
}

/* logo-WebStudio */
.logo-WebStudio {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-link-web {
  color: var(--logo-link-web-color);
}

.logo-link-studio {
  color: var(--logo-link-studio-color);
}

/* навигация по сайту */
.div-list-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.div-list-navigation-item {
}

.nav-studio {
  color: var(--logo-link-web-color);
}

.nav-studio a:hover,
.nav-studio a:active {
  color: var(--logo-link-web-color);
}

.nav-portfolio {
  color: var(--logo-link-web-color);
}

.nav-portfolio a:hover,
.nav-portfolio a:active {
  color: var(--logo-link-web-color);
}

.nav-contacts {
}

/* TEL and MAIL */
.div-list-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.div-list-contacts-mail {
  color: var(--logo-link-web-color);
}

.div-list-contacts-tel {
  color: var(--logo-link-telephone-color);
}

/* ШАПКА */

.div-hero {
  background-color: var(--hero-footer-background-color);
}
.div-hero-tagline {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.div-hero-button {
  width: 200px;
  height: 50px;
  border: 1px solid var(--logo-link-web-color);
  background-color: var(--logo-link-web-color);
  border-radius: 4px;
}

.div-hero-text {
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* ОСОБЕННОСТИ */

.features {
  color: #ffffff;
}

.section-features {
}

.section-features-list {
}

.features-list {
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-discription {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.photo-box {
}

.photo-title {
}

.photo-title-size {
}

/* НАША КОМАНДА */

.section-team {
}

.team-list {
}

.team-photo {
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ПОДВАЛ */

.footer-contacts-list {
  background-color: var(--hero-footer-background-color);
}

.footer-contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.contacts-title-mail {
}

.contacts-title-tel {
}
