:root {
  --hero-section: #e5e5e5;
  --hero-footer-background-color: #2f303a;
  --logo-link-web-color: #2196f3;
  --logo-link-studio-color: #000000;
  --logo-link-tel-text-color: #757575;
  --logo-hero: #ffffff;
  --logo-heading: #212121;
  --logo-mail-tel-footer: #ffffff99;
  --button-portfolio-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--logo-hero);
  color: var(--logo-heading);
}

a {
  color: inherit;
  text-decoration: none;
}

/* ВЕРХНЯЯ ЛИНИЯ */

.upper-line {
  background-color: var(--logo-hero);
}

.div-list li {
  list-style: none;
}

.div-list a:hover,
.div-list a:focus {
  color: var(--logo-link-web-color);
}

/* logo-WebStudio */
.logo-WebStudio {
  font-family: "Raleway", sans-serif;
  color: var(--logo-hero);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-link-web {
  color: var(--logo-link-web-color);
}

.logo-link-studio {
  color: var(--logo-link-studio-color);
}

/* навигация по сайту */
.div-list-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-studio {
  color: var(--logo-link-web-color);
}

.nav-studio a:hover,
.nav-studio a:active {
  color: var(--logo-link-web-color);
}

.nav-portfolio {
  color: var(--logo-link-web-color);
}

.nav-portfolio a:hover,
.nav-portfolio a:active {
  color: var(--logo-link-web-color);
}

.nav-contacts {
}

/* TEL and MAIL */

.div-list-contacts li {
  list-style: none;
}
.div-list-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--logo-link-tel-text-color);
}

.div-list-contacts-mail {
  color: var(--logo-link-web-color);
}

/* ШАПКА */

.div-hero {
  background-color: var(--hero-footer-background-color);
}
.div-hero-tagline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--logo-hero);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.div-hero-button {
  font-family: inherit;
  width: 200px;
  height: 50px;
  border: solid 0px;
  background-color: var(--logo-link-web-color);
  border-radius: 4px;
}

.div-hero-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--logo-hero);
}

/* ОСОБЕННОСТИ */

.features {
  color: var(--logo-hero);
}

.section-features li {
  list-style: none;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-heading);
}

.features-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-link-tel-text-color);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo-heading);
}

.photo-box li {
  list-style: none;
}

/* НАША КОМАНДА */

.section-team li {
  list-style: none;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo-heading);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo-link-tel-text-color);
}

/* ПОДВАЛ */

.footer-contacts-list {
  background-color: var(--hero-footer-background-color);
}

.footer-contacts-list li {
  list-style: none;
}

.footer-contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-hero);
}

.contacts-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--logo-mail-tel-footer);
}

/* PORTFOLIO.HTML */

.button-nav-portfolio li {
  list-style: none;
}

.work-nav-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--logo-heading);
}

.work-nav-button {
  height: 38px;
  border: solid 0px;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--button-portfolio-background-color);
}

.work-nav-button :hover,
.work-nav-button :focus {
  color: var(--logo-hero);
  background-color: var(--logo-link-web-color);
}

.work-presentation li {
  list-style: none;
}

.work-presentation-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--logo-heading);
}

.work-presentation-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--logo-link-tel-text-color);
}
